<!--page/detail/detail.wxml-->
<scroll-view scroll-y class='body' style='widht:100%;height:100%'>
  <view class='topLogo'>
    <image src='../../image/topLogo.png' class='topImg'></image>
  </view>
  <view class='backBar'>
    <image src='../../image/back.png' class='backImg' ontap='back'></image>
    <text style='padding-top:5rpx;margin-left:30rpx'> 任务详情 </text>
  </view>

  <view class='taskName'>
    <image src='../../image/user.jpg' class='userImg'></image>
    <view style='display:float'>
      <view class='taskInfo'>
        <text style='margin-right:80rpx'>用户ID</text>
        <text style='padding-right:60rpx'>任务名</text>
      </view>
      <view class='timeInfo'>
        <text> 发起时间:   \n</text>
        <text>截至时间:      </text>
      </view>
    </view>
  </view>

  <view class='taskDescription'>
    <text>任务描述：\n</text>
    <text> 这里是一段任务描述，将来会被替换成用户输入的任务描述。</text>
  </view>
  <view class='taskSetting'>
    <text>数量： \n</text>
    <text>单价： \n</text>
    <text>任务总金额:   \n</text>
    <text>允许多次接任务</text>
  </view>

  <view class='keyWord'>
    <text> 关键字： </text>
    <text style='padding-left:40rpx;'> 关键字1 </text>
    <text style='padding-left:40rpx;'> 关键字2 </text>
    <text style='padding-left:40rpx;'> 关键字3 </text>
  </view>
  <view class='serialNumber'>
    <text>本任务专属码 No.2345</text>
  </view>

</scroll-view>
