/* page/index/index.wxss */

.topImg1 {
  height: 400rpx;
  width:250rpx;

  /* padding-right:200rpx; */
}

.topImg2 {
  height:200rpx;
  width:250rpx;
  padding-top:300rpx;
}

.logoTextImg {
  height:120rpx;
  width:250rpx;
  padding-left:33%;
}

.topImgBox {
  /* padding-right:50%; */
  display:flex;
}

.publishButtonImg {
  height:250rpx;
  width:250rpx;
  margin-left:33%
}

.publishButtonImg:active{
filter: opacity(.4); 
}

.publishHistoryButtonImg {
  height:150rpx;
  width:150rpx;
  margin-left:15%;
}

.publishHistoryButtonImg:active {
  filter: opacity(.4); 
}

.joinHistoryButtonImg {
  height: 150rpx;
  width:150rpx;
  margin-left:32%;
}

.joinHistoryButtonImg:active{
  filter: opacity(.4);
}